.headerimg {
	width: 100vw;
}

body {
	background-color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	background-color: #1a2930;
	overflow: hidden;
	width: 100vw;
	height: 7vh;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 2vh;
	margin: 5px;
	border-radius: 20px 20px 0 0;
}

.topnav a:hover {
	background-color: #246eb9;
	color: black;
}

.topnav a.active {
	background-color: #ffffff;
	color: white;
	padding: 5px;
}

.button {
	background-color: #1a2930;
	color: #f2f2f2;
	margin: 1px solid black;
}

.button:hover {
	background-color: #f7ce3e;
	color: black;
}

.container {
	height: 70vh;
	padding: 20vh auto 10vh auto;
	text-align: center;
	grid-template-rows: 2;
	grid-template-columns: 1;
}

.postcontainer {
	margin-top: 50px;
}

.data {
	border-top: 2px solid #1a2930;
	font-size: 12px;
}

.post {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1;
	grid-gap: 5px;
	border: blue 3px;
}

.score {
	grid-column: 1 / span 1;
	grid-row: 1;
	width: 7vw;
}

.hidden {
	display: hidden;
}

.time {
	float: right;
}

footer {
	height: 7vh;
	background-color: #1a2930;
	position: relative;
	margin-top: -7vh;
	clear: both;
	text-align: center;
}
