.headerimg {
	width: 100vw;
}

body {
	background-color: #ffffff;
	font-style: normal;
	font-family: Helvetica, sans-serif;
	margin-bottom: 100px;
}

.topnav {
	background-color: #1a2930;
	overflow: hidden;
	width: 100vw;
	height: 6vh;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 2vh;
	margin: 5px;
	border-radius: 20px 20px 0 0;
}

.topnav a:hover {
	background-color: #edafb8;
	color: black;
}

.topnav a.active {
	background-color: #ffffff;
	color: white;
	padding: 5px;
}

.homepageInfo,
.homepageInfo2 {
	margin-top: 30px;
}

.homeContent {
	display: block;
	margin: auto;
	font-size: 30px;
}

h1 {
	font-size: 40px;
	margin-bottom: 30px;
	font-family: Helvetica, sans-serif;
}

.button {
	background-color: #1a2930;
	color: #f2f2f2;
}
.button:hover {
	background-color: #f7ce3e;
	color: black;
}
.container {
	height: 70vh;
	padding: 20vh auto 10vh auto;
	text-align: center;
	grid-template-rows: 2;
	grid-template-columns: 1;
}

.rowse {
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 2;
}

.browseContainer {
	margin: 30px 0 30px 0;
	float: right;
	grid-column: 1;
	grid-row: 1;
}
.postContainer {
	grid-column: 1;
	grid-row: 2;
	margin-top: 20px;
}
.data {
	font-size: 12px;
	text-align: left;
	margin-bottom: 5px;
}
.post {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1;
	grid-gap: 5px;
	margin: 10px 5px 0px 5px;
	padding: 5px 5px 0 5px;
	border-radius: 20px;
	box-shadow: inset 7em 1.75em #4392f1;
	border: solid;
	background: #98b9f2;
}
.content {
	text-align: left;
}
.postContent {
	border: 5px black;
	color: white;
}
.score {
	grid-column: 1 / span 1;
	grid-row: 1;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1;
	display: grid;
	width: 5vw;
}
input.button {
	grid-column: 2 /span 1;
	grid-row: 1;
}
.hidden {
	display: hidden;
}
.time {
	float: right;
}
.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1;
	width: 30vw;
	margin: auto;
}
.viewPost {
	grid-column: 1 / span 1;
	grid-row: 1;
	align-self: center;
	justify-self: center;
}
.viewlikes {
	grid-column: 2/ span 1;
	grid-row: 1;
	align-self: center;
	justify-self: center;
}
