{% extends "common.html" %}
{% block title %}Feed{% endblock %}

{% block content %}
<link rel="stylesheet" href="/resources/styles/feed.css">

<div id="root"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script src="../resources/scripts/Feed.js" type="text/babel"></script>
    <script type="text/babel">
        ReactDOM.render(
        <Browse>
          <div className="postcontainer">
            {%for post in posts%}
              {% include "pun.html" %}
            {% endfor %}
          </div>
        </Browse>,
        document.getElementById('root')
        );
    </script>

{% endblock %}
