     
     <div className="post">
          <div className="score">
            <span id="likes"> <strong>{{post.score}}</strong></span>
            <form className="like_container" action="/feed" method="post">
              <input className="hidden" type="hidden" name="kind" value="upvote"></input>
              <input type="hidden" name="post_id" value="{{post.key.id()}}"></input>
              <input className="button" type="submit" value="+1"></input>
            </form>
            <form className="like_container" action="/feed" method="post">
              <input className="hidden" type="hidden" name="kind" value="downvote"></input>
              <input type="hidden" name="post_id" value="{{post.key.id()}}"></input>
              <input className="button" type="submit" value="-1"></input>
            </form>
          </div>
            <div className="postContent">
                <div className="data">
                    <span className="author"> {{ post.poster_name }} </span>
                    <span className="time"> {{ post.timediff }} </span>
                </div>
              <p className="content"> {{ post.content }} </p>
            </div>
        </div>
